<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %} | ODEAL</title>
    </head>

{% block content %}
<body class="bg-orange-400 pb-20">
<section class="bg-orange-400">
	<div class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between">
		<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
			<a href="{% url 'core:odeal' %}">
            <img src="{% static "ODEAL.png" %}" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-158 border-solid border-2 rounded-full bg-white">
        </a>
		</div>
		<div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-xl lg:text-left">
			<p class="text-8xl text-white font-bold leadi sm:text-8xl">CONNECT.</p>
            <p class="text-8xl text-white font-bold leadi sm:text-8xl">SAVE.</p>
            <p class="text-8xl text-white font-bold leadi sm:text-8xl">BUY.</p>
			<p class="text-8xl text-white font-bold leadi sm:text-8xl">SELL.</p>

			<p class="mt-6 mb-8 font-semibold text-white  text-lg sm:mb-12">Your hub for seamless connections, savings, buying, and selling. 
				<br class="hidden font-semibold text-white md:inline lg:hidden">Welcome to the future of marketplace.
			</p>
			<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
				<a rel="noopener noreferrer" href="{% url 'core:login' %}" class="px-8 py-3 text-lg font-semibold rounded border-solid border-2 border-black hover:bg-white hover:text-orange-500 ">LOGIN</a>
				<a rel="noopener noreferrer" href="{% url 'core:signup' %}" class="px-8 py-3 text-lg font-semibold border rounded bg-white hover:bg-orange-500 hover:text-white ">SIGN UP</a>
			</div>
		</div>
	</div>
</section>
</body>
{% endblock %}